{
  "openapi": "3.1.0",
  "info": {
    "title": "Timbal Platform API",
    "description": "Public API documentation for the Timbal platform",
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.timbal.ai",
      "description": "Production"
    },
    {
      "url": "https://api.dev.timbal.ai",
      "description": "Development"
    }
  ],
  "paths": {
    "/ace/{ace_uid}/jobs": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List jobs for an ACE, most recent first.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows to return (clamped to 200). Defaults to 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAceJobsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "Get a single ACE job by id.",
        "operationId": "get_one",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceJobView"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job or ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}/cancel": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Cancel an active ACE job.",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Cancel signal sent"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job not found"
          },
          "409": {
            "description": "Job is not currently queued/running"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}/retry": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Retry a failed, cancelled, or errored ACE job.",
        "operationId": "retry",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Retry enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnqueueJobResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job not found"
          },
          "409": {
            "description": "Source job not retriable, or ACE has a live job"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/policies": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List the policies declared on an ACE.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPoliciesResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/chat/completions": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "OpenAI-compatible chat completions endpoint for an ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/messages": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Anthropic-compatible messages endpoint for an ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/responses": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "OpenAI-compatible responses endpoint for an ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/vars": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List the variables declared on an ACE.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVarsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/files": {
      "post": {
        "tags": [
          "files"
        ],
        "description": "Upload a short-lived file for temporary staging.",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 0
                    },
                    "description": "Binary contents of the file. Max 100 MB.",
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempFile"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds 100MB limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "429": {
            "description": "Per-user rate limit exceeded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds the client should wait before retrying."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me": {
      "patch": {
        "tags": [
          "users"
        ],
        "description": "Patch the authenticated user's profile.",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMeReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or non-nullable field set to null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me/orgs": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List organizations the authenticated user belongs to",
        "operationId": "handler",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Optional search query to filter orgs by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgsResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me/photo": {
      "put": {
        "tags": [
          "users"
        ],
        "description": "Upload and set the authenticated user's profile picture.",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "Multipart form schema for the OpenAPI doc only (the handler reads the raw\n`file` part directly).",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 0
                    },
                    "description": "Profile picture bytes. Must be an image; the type is detected from the\nfile content, not the filename or declared content type.",
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Profile picture updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePhotoResBody"
                }
              }
            }
          },
          "400": {
            "description": "Missing file or unsupported image type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "413": {
            "description": "Image too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "users"
        ],
        "description": "Clear the authenticated user's profile picture.",
        "operationId": "delete",
        "responses": {
          "204": {
            "description": "Profile picture cleared",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me/tokens": {
      "get": {
        "tags": [
          "users"
        ],
        "description": "List the authenticated user's API credentials.",
        "operationId": "handler",
        "responses": {
          "200": {
            "description": "Credentials listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "users"
        ],
        "description": "Create an API credential for the authenticated user.",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Credential created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me/tokens/{token_id}": {
      "delete": {
        "tags": [
          "users"
        ],
        "description": "Revoke an API credential owned by the authenticated user.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs": {
      "post": {
        "tags": [
          "orgs"
        ],
        "description": "Create a new organization.",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrgReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Organization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "429": {
            "description": "Org limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get an organization by ID",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "orgs"
        ],
        "description": "Partially update an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOrgReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Organization updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/billing/budgets": {
      "get": {
        "tags": [
          "billing"
        ],
        "description": "Read credit budgets for the organization.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "When set, return at most the project budget for this project (0 or 1 rows).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "role_id",
            "in": "query",
            "description": "When set, return at most the role budget for this role (0 or 1 rows).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Budgets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetListBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Filtered project or role not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "billing"
        ],
        "description": "Replace the organization's full credit budget configuration.",
        "operationId": "put",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetListBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Budgets saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetListBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Project or role not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "billing"
        ],
        "description": "Merge partial credit budget changes for the organization.",
        "operationId": "patch",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetPatchBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Budgets saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetListBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Project or role not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/billing/overage": {
      "get": {
        "tags": [
          "billing"
        ],
        "description": "Get overage credit usage for the current billing period.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Overage usage summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverageSummary"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "billing"
        ],
        "description": "Update overage billing settings for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingOverageReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Overage settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors": {
      "get": {
        "tags": [
          "connectors"
        ],
        "summary": "`GET /orgs/{org_id}/connectors`",
        "description": "List connectors for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connectors listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/enrollment-tokens": {
      "post": {
        "tags": [
          "connectors"
        ],
        "summary": "`POST /orgs/{org_id}/connectors/enrollment-tokens`",
        "description": "Create a connector enrollment token.",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Token minted (raw value shown once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid TTL"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/jobs": {
      "get": {
        "tags": [
          "connectors"
        ],
        "summary": "`GET /orgs/{org_id}/connectors/jobs`",
        "description": "List connector jobs for the organization.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "query",
            "description": "Filter to a single connector.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListJobsRes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/syncs": {
      "get": {
        "tags": [
          "connectors"
        ],
        "summary": "`GET /orgs/{org_id}/connectors/syncs`",
        "description": "List connector syncs for the organization.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "query",
            "description": "Filter to a single connector.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Syncs listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSyncsRes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}": {
      "get": {
        "tags": [
          "connectors"
        ],
        "summary": "`GET /orgs/{org_id}/connectors/{connector_id}`",
        "description": "Get a connector by id.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connector details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Connector not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}/browse/columns": {
      "get": {
        "tags": [
          "connectors"
        ],
        "summary": "`GET /orgs/{org_id}/connectors/{connector_id}/browse/columns`",
        "description": "List columns for a remote table.",
        "operationId": "columns",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection_ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "table",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Columns listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnsRes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Connector not found"
          },
          "422": {
            "description": "Connector offline / refused / timed out"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}/browse/connections": {
      "get": {
        "tags": [
          "connectors"
        ],
        "summary": "`GET /orgs/{org_id}/connectors/{connector_id}/browse/connections`",
        "description": "List remote connections available to a connector.",
        "operationId": "connections",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection refs listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionsRes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Connector not found"
          },
          "422": {
            "description": "Connector offline / refused / timed out"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}/browse/tables": {
      "get": {
        "tags": [
          "connectors"
        ],
        "summary": "`GET /orgs/{org_id}/connectors/{connector_id}/browse/tables`",
        "description": "List remote tables available to a connector.",
        "operationId": "tables",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection_ref",
            "in": "query",
            "description": "Connection ref on the node (from `/browse/connections`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tables listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TablesRes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Connector not found"
          },
          "422": {
            "description": "Connector offline / refused / timed out"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}/jobs": {
      "post": {
        "tags": [
          "connectors"
        ],
        "summary": "`POST /orgs/{org_id}/connectors/{connector_id}/jobs`",
        "description": "Dispatch a job to a connector.",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispatchReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Job accepted and dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchRes"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Connector or KB not found"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}/rebind": {
      "post": {
        "tags": [
          "connectors"
        ],
        "summary": "`POST /orgs/{org_id}/connectors/{connector_id}/rebind`",
        "description": "Rebind a connector to a different knowledge base.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RebindReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Rebind dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RebindRes"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Connector not found"
          },
          "422": {
            "description": "Connector offline (`code: connector_offline`)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}/syncs": {
      "post": {
        "tags": [
          "connectors"
        ],
        "summary": "`POST /orgs/{org_id}/connectors/{connector_id}/syncs`",
        "description": "Create a connector sync configuration.",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSyncReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Sync created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSyncRes"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Connector or KB not found"
          },
          "422": {
            "description": "Source unsupported by connector"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}/syncs/{sync_id}": {
      "get": {
        "tags": [
          "connectors"
        ],
        "summary": "`GET /orgs/{org_id}/connectors/{connector_id}/syncs/{sync_id}`",
        "description": "Get a connector sync by id.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sync_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncDetailRes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Sync not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "connectors"
        ],
        "summary": "`DELETE /orgs/{org_id}/connectors/{connector_id}/syncs/{sync_id}`",
        "description": "Delete a connector sync.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sync_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sync deleted"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Sync not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "connectors"
        ],
        "summary": "`PATCH /orgs/{org_id}/connectors/{connector_id}/syncs/{sync_id}`",
        "description": "Update a connector sync.",
        "operationId": "update",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sync_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSyncReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Sync updated"
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Sync not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/connectors/{connector_id}/update": {
      "post": {
        "tags": [
          "connectors"
        ],
        "summary": "`POST /orgs/{org_id}/connectors/{connector_id}/update`",
        "description": "Trigger a connector software update.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Connector already on the target version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRes"
                }
              }
            }
          },
          "202": {
            "description": "Update dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Connector or release version not found"
          },
          "422": {
            "description": "Connector offline or too old to update remotely"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/contacts": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Account-side contacts assigned to an organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgContactsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/content/sign": {
      "post": {
        "tags": [
          "content"
        ],
        "description": "Refresh a signed URL for stored content.",
        "operationId": "sign",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Freshly-signed content URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/credit-grants": {
      "get": {
        "tags": [
          "billing"
        ],
        "description": "Credit grants awarded to an organization, most recent first.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit grants for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCreditGrantsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/domains": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List connected domains for an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domains listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomainsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "orgs"
        ],
        "description": "Add a custom domain to an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Domain created successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/domains/{domain_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get a custom domain with current DNS and certificate status.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "orgs"
        ],
        "description": "Delete a domain",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/embedding-models": {
      "get": {
        "tags": [
          "embeddings"
        ],
        "description": "List all available embedding models for the organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of embedding models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEmbeddingModelsResBody"
                },
                "example": {
                  "embedding_models": [
                    "text-embedding-ada-002",
                    "text-embedding-3-small",
                    "text-embedding-3-large"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/actions": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "Catalog of grantable IAM actions for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action catalog visible to this org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListActionsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/check": {
      "post": {
        "tags": [
          "iam"
        ],
        "description": "Simulate authorization checks against a user's effective grants.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Per-check decisions + matched grants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Invalid request"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/roles": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "List system and custom roles for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roles for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgRolesResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "iam"
        ],
        "description": "Create a custom role for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Role created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "A role with that name already exists in the organization"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/roles/{role_id}": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "Retrieve a role and the full set of grants it carries.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Role not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "iam"
        ],
        "description": "Delete a custom organization role.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Role deleted"
          },
          "403": {
            "description": "Forbidden or system role (immutable)"
          },
          "404": {
            "description": "Role not found"
          },
          "409": {
            "description": "Role is still attached to one or more members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleInUseConflict"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "iam"
        ],
        "description": "Partially update a custom organization role.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRoleReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden or system role (immutable)"
          },
          "404": {
            "description": "Role not found"
          },
          "409": {
            "description": "A role with that name already exists"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/users": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "List members of an organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Optional case-insensitive substring filter on user name or email.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination. Pass back the `next_page_token` from the\nprevious response.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgUsersResBody"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "iam"
        ],
        "description": "Invite one or more users to an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteOrgUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "User invited successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "iam"
        ],
        "description": "Remove one or more members from an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveOrgUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Member(s) removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/users/roles": {
      "put": {
        "tags": [
          "iam"
        ],
        "description": "Replace role attachments for multiple members in one request.",
        "operationId": "bulk_handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkReplaceRolesReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Attachments updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "422": {
            "description": "Invalid request"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/users/{user_id}/effective-grants": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "List a member's effective IAM grants in the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Effective grants for the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveGrantsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Target user is not a member"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/users/{user_id}/roles": {
      "put": {
        "tags": [
          "iam"
        ],
        "description": "Replace a member's role attachments.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRolesReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Attachments updated"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "422": {
            "description": "Invalid attachment"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/identity-providers": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List SSO identity connections for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connections listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListIdentityProvidersResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "orgs"
        ],
        "description": "Create an SSO or directory identity connection for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIdentityProviderReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Connection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderView"
                }
              }
            }
          },
          "409": {
            "description": "provider_key already in use"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/identity-providers/{provider_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get an SSO identity connection by id.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderView"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "orgs"
        ],
        "description": "Delete an SSO identity connection.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "orgs"
        ],
        "description": "Update an SSO identity connection.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIdentityProviderReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderView"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/identity-providers/{provider_id}/default-role": {
      "put": {
        "tags": [
          "orgs"
        ],
        "description": "Set or clear the SSO connection's default just-in-time role.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDefaultRoleReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderView"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/identity-providers/{provider_id}/group-mappings": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List external-group to role mappings for a connection",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mappings listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupRoleMappingsResBody"
                }
              }
            }
          },
          "404": {
            "description": "Connection not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "orgs"
        ],
        "description": "Map an external IdP group to a role for this connection",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupRoleMappingReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupRoleMappingView"
                }
              }
            }
          },
          "404": {
            "description": "Connection not found"
          },
          "409": {
            "description": "Group already mapped for this connection"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/identity-providers/{provider_id}/group-mappings/{mapping_id}": {
      "delete": {
        "tags": [
          "orgs"
        ],
        "description": "Delete a group-to-role mapping",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mapping_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List knowledge bases in an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge bases listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create a new knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Knowledge base created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get knowledge base details",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Detail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Knowledge base deleted"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "k2"
        ],
        "description": "Update a knowledge base.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated knowledge base",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Detail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/backups": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List backups for a knowledge base.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBackupsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create an on-demand backup of a knowledge base.",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBackupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Backup accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbBackupResponse"
                }
              }
            }
          },
          "409": {
            "description": "KB is already under maintenance (no backup row created)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/backups/{backup_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a single backup.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbBackupResponse"
                }
              }
[...]
