{
  "openapi": "3.1.0",
  "info": {
    "title": "Timbal Platform API",
    "description": "Public API documentation for the Timbal platform",
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.timbal.ai",
      "description": "Production"
    },
    {
      "url": "https://api.dev.timbal.ai",
      "description": "Development"
    }
  ],
  "paths": {
    "/me/orgs": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List organizations the authenticated user belongs to",
        "operationId": "handler",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Optional search query to filter orgs by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgsResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get an organization by ID",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "orgs"
        ],
        "description": "Partially update an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOrgReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Organization updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/billing/overage": {
      "post": {
        "tags": [
          "billing"
        ],
        "description": "Enable or disable usage-based overage billing and set an optional credit cap for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingOverageReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Overage settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "403": {
            "description": "Caller is not an org admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Cannot apply overage (plan, payments, or subscription state)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/domains": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List connected domains for an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domains listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomainsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "orgs"
        ],
        "description": "Add a custom domain to an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Domain created successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/domains/{domain_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get a domain by ID. This endpoint triggers DNS validation and returns the live certificate status.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "orgs"
        ],
        "description": "Delete a domain",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/embedding-models": {
      "get": {
        "tags": [
          "embeddings"
        ],
        "description": "List all available embedding models for the organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of embedding models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEmbeddingModelsResBody"
                },
                "example": {
                  "embedding_models": [
                    "text-embedding-ada-002",
                    "text-embedding-3-small",
                    "text-embedding-3-large"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/files": {
      "post": {
        "tags": [
          "files"
        ],
        "description": "Upload a file to an org",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 0
                    },
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List knowledge bases in an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge bases listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create a new knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Knowledge base created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get knowledge base details",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Detail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Knowledge base deleted"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/directories": {
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create a virtual directory in the knowledge base",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateK2VirtualDirectoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Folder already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2VirtualDirectoryResponse"
                }
              }
            }
          },
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2VirtualDirectoryResponse"
                }
              }
            }
          },
          "409": {
            "description": "A file with the same name already exists at this path",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List files and directories in a knowledge base",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "directory",
            "in": "query",
            "description": "Filter files by directory path (e.g. \"docs/reports\")",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2FilesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Upload a file to a knowledge base for parsing and embedding",
        "operationId": "add",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "Request body for uploading a file to a knowledge base.",
                "required": [
                  "file",
                  "metadata"
                ],
                "properties": {
                  "directory": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional subdirectory path to organize the file within the knowledge base."
                  },
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 0
                    },
                    "description": "The file to upload.",
                    "contentMediaType": "application/octet-stream"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional JSON metadata to attach to the file."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2File"
                }
              }
            }
          },
          "409": {
            "description": "A file with the same name already exists in this directory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files/{file_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a file with its parsings and embeddings metadata",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File details with parsings and embeddings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetK2FileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a file from a knowledge base",
        "operationId": "delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/query": {
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Execute a SQL query against the knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query results as JSON",
            "content": {
              "application/json": {

              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/schema": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get the schema for a knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: \"structured\" (default) or \"sql\"",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "structured",
                "sql"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schema (structured by default, or SQL DDL statements when ?format=sql)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/K2Schema",
                      "description": "Structured schema with tables, columns, indexes, and constraints (default)"
                    },
                    {
                      "$ref": "#/components/schemas/K2SchemaSql",
                      "description": "SQL DDL statements (CREATE TABLE, CREATE INDEX, etc.)"
                    }
                  ],
                  "description": "Response for the schema endpoint — structured (default) or SQL DDL."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/upload": {
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Upload a data file (CSV, Parquet, JSON) into the knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "File upload with optional table_name and mode fields",
          "content": {
            "multipart/form-data": {

            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {

              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "List projects for an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "description": "Response detail level: \"list\" (default) returns a lightweight preview, \"full\" returns all project details",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "list",
                "full"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projects listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Create a new project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProjectResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "Get a project by ID",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "description": "Delete a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "projects"
        ],
        "description": "Update a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProjectReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Project updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/compose": {
      "post": {
        "tags": [
          "compose"
        ],
        "description": "Send a prompt to the Timbal Composer agent. The `prompt` field accepts a plain string, an array of content blocks, or a full Message object. Content blocks can be text or files (base64, URL, or server-side path). Supported file types: images (png/jpg/gif/webp/svg), PDFs, and text-readable formats (json, csv, md, yaml, py, rs, etc.).",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeRequest"
              },
              "examples": {
                "File from URL": {
                  "value": {
                    "rev": "main",
                    "prompt": [
                      "Review this config file",
                      {
                        "type": "file",
                        "file": {
                          "name": "config.json",
                          "source": {
                            "type": "url",
                            "url": "https://example.com/config.json"
                          }
                        }
                      }
                    ]
                  }
                },
                "File from server path": {
                  "value": {
                    "rev": "main",
                    "prompt": [
                      "Analyze this log file",
                      {
                        "type": "file",
                        "file": {
                          "name": "app.log",
                          "source": {
                            "type": "path",
                            "path": "/mnt/efs/uploads/app.log"
                          }
                        }
                      }
                    ]
                  }
                },
                "File without name (media_type required)": {
                  "value": {
                    "rev": "main",
                    "prompt": [
                      "What is in this image?",
                      {
                        "type": "file",
                        "file": {
                          "media_type": "image/png",
                          "source": {
                            "type": "base64",
                            "data": "iVBORw0KGgo..."
                          }
                        }
                      }
                    ]
                  }
                },
                "Full Message object": {
                  "value": {
                    "rev": "main",
                    "prompt": {
                      "role": "user",
                      "content": [
                        {
                          "type": "text",
                          "text": "Refactor this to use async/await"
                        }
                      ]
                    }
                  }
                },
                "Plain string": {
                  "value": {
                    "rev": "main",
                    "prompt": "Add error handling to the upload endpoint"
                  }
                },
                "Text with inline image (base64)": {
                  "value": {
                    "rev": "main",
                    "prompt": [
                      "Describe what you see in this screenshot and fix the layout",
                      {
                        "type": "file",
                        "file": {
                          "name": "screenshot.png",
                          "source": {
                            "type": "base64",
                            "data": "iVBORw0KGgo..."
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "SSE stream of Claude responses",
            "content": {
              "text/event-stream": {

              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/compose/sessions": {
      "get": {
        "tags": [
          "compose"
        ],
        "description": "List sessions for a project, most recent first",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter sessions by user ID",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectSession"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/compose/sessions/{session_id}": {
      "get": {
        "tags": [
          "compose"
        ],
        "description": "Get session details including token usage, cost, and message history",
        "operationId": "single",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "Session UUID (e.g. \"019d1bbe-2f61-7393-afa7-6bb770878c9b\")",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "019d1bbe-2f61-7393-afa7-6bb770878c9b"
          }
        ],
        "responses": {
          "200": {
            "description": "Session details with messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/compose/sessions/{session_id}/stop": {
      "post": {
        "tags": [
          "compose"
        ],
        "description": "Stop a running compose session by sending SIGTERM to the Claude process",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "Session UUID (e.g. \"019d1bbe-2f61-7393-afa7-6bb770878c9b\")",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "019d1bbe-2f61-7393-afa7-6bb770878c9b"
          }
        ],
        "responses": {
          "204": {
            "description": "Session stopped"
          },
          "404": {
            "description": "No active process for this session"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/connections": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "List connections for a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connections listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConnectionsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Connect a resource (KB or integration) to a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectToProject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Connection created successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/connections/{connection_id}": {
      "delete": {
        "tags": [
          "projects"
        ],
        "description": "Delete a project connection",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Connection deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/deployments": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "List deployments for a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_env_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "manifest_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployments listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeploymentsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/deployments/{deployment_id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "Get a deployment by ID",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "List environments for a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Environments listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Create a new environment",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Environment created successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env_id}": {
      "delete": {
        "tags": [
          "projects"
        ],
        "description": "Delete an environment",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Environment deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env_id}/branch": {
      "patch": {
        "tags": [
          "projects"
        ],
        "description": "Set or clear the branch for an environment",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetEnvBranchReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Branch updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env_id}/config": {
      "patch": {
        "tags": [
          "projects"
        ],
        "description": "Update environment configuration (CPU, memory, etc.)",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvConfigReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configuration updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env_id}/deploy": {
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Deploy an environment",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployEnvReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Deployment initiated"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env_id}/domain": {
      "patch": {
        "tags": [
          "projects"
        ],
        "description": "Associate or disassociate a custom domain with an environment",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetEnvDomainReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env_id}/metrics/{metric_type}": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "Query environment metrics",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics data"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env_id}/stop": {
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Stop an environment",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Stop initiated"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env_id}/workforce/{workforce}": {
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Proxy a request to a running workforce deployment. Accepts any HTTP method and forwards to the deployment's internal URL. The `workforce` can be the numeric id, name, or uid of the workforce item.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_id",
            "in": "path",
            "description": "Environment identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workforce",
            "in": "path",
            "description": "Workforce identifier (id, name, or uid)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proxied response from workforce deployment"
          },
          "404": {
            "description": "No running workforce deployment found"
          },
          "502": {
            "description": "Workforce deployment not responding"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env}/workforce": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "List running workforce deployments in an environment",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env",
            "in": "path",
            "description": "Environment id or branch name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of running workforce items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkforceResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Create a new workforce component (agent or workflow)",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env",
            "in": "path",
            "description": "Environment id or branch name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkforceReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Workforce component created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWorkforceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "description": "Delete a workforce component (agent or workflow)",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env",
            "in": "path",
            "description": "Environment id or branch name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWorkforceReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Workforce component deleted"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/envs/{env}/workforce/{workforce}/codegen": {
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Run a codegen command against a workforce component. Commands include: test, get-flow, get-tools, get-models, add-tool, remove-tool, etc. The `env` can be the numeric id or branch name. The `workforce` can be the numeric id, uid, or name.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env",
            "in": "path",
            "description": "Environment id or branch name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workforce",
            "in": "path",
            "description": "Workforce identifier (id, uid, or name)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Codegen command output"
          },
          "204": {
            "description": "Command produced no output"
          },
          "400": {
            "description": "Invalid request or missing files"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/k2": {
      "put": {
        "tags": [
          "projects"
        ],
        "description": "Link a K2 knowledge base to a project. Replaces any previously linked KB.",
        "operationId": "put",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkKbRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Knowledge base linked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbPreview"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Knowledge base not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "description": "Unlink the K2 knowledge base from a project.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Knowledge base unlinked"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/runs": {
      "get": {
        "tags": [
          "runs"
        ],
        "description": "List runs for a specific project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter runs by user ID",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter runs by status",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "sentiment",
            "in": "query",
            "description": "Filter runs by sentiment",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter runs by group ID",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter runs by start time (epoch timestamp in milliseconds)",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            },
            "example": 1729540800000
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter runs by end time (epoch timestamp in milliseconds)",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            },
            "example": 1729627200000
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Filter runs by metadata",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRunsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/runs/{run_id}": {
      "get": {
        "tags": [
          "runs"
        ],
        "description": "Get a single run for a project (by run id or idempotency key)",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Platform run id or idempotency key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/runs/{run_id}/reactions": {
      "get": {
        "tags": [
          "runs"
        ],
        "description": "List reactions for a project run (admin only)",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Platform run id or idempotency key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reactions listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReactionsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "runs"
        ],
        "description": "Add a reaction to a project run",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Platform run id or idempotency key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewReactionReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Reaction created"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/users": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "List users for a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectUsersResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Add a user to a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProjectUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "User added successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/users/{user_id}": {
      "delete": {
        "tags": [
          "projects"
        ],
        "description": "Remove a user from a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User removed successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "projects"
        ],
        "description": "Update a user's role in a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProjectUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "User role updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/vars": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "List variables for a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env_ids",
            "in": "query",
            "description": "Comma-separated list of environment IDs to filter by",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variables listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVarsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Create a new variable",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVarReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Variable created successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/vars/batch": {
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Batch create variables",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateVarsReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Variables created successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/vars/{var_id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "Get a variable by ID",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "var_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variable details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Var"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "description": "Delete a variable",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "var_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Variable deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "projects"
        ],
        "description": "Update a variable",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "var_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVarReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Variable updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/users": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List users in an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Optional search query to filter users by name",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgUsersResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "orgs"
        ],
        "description": "Invite a user to an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteOrgUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "User invited successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "orgs"
        ],
        "description": "Remove a user from an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveOrgUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "User removed successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "orgs"
        ],
        "description": "Update a user's role in an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOrgUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "User role updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AddProjectUserReqBody": {
        "type": "object",
        "required": [
          "user_id"
        ],
        "properties": {
          "user_id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AppType": {
        "type": "string",
        "enum": [
          "agent",
          "workflow",
          "unknown"
        ]
      },
      "BatchCreateVarsReqBody": {
        "type": "object",
        "required": [
          "vars"
        ],
        "properties": {
          "env_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "vars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VarInput"
            }
          }
        }
      },
      "BillingOverageReqBody": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "cap_credits": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Max overage **credits** the user allows (null = unlimited)."
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "ComposeRequest": {
        "type": "object",
        "required": [
          "rev",
          "prompt"
        ],
        "properties": {
          "effort": {
            "type": [
              "string",
              "null"
            ],
            "description": "Effort level: low, medium, high, max",
            "example": "high"
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model alias or full name (e.g. \"sonnet\", \"opus\", \"claude-sonnet-4-6\")",
            "example": "sonnet"
          },
          "prompt": {
            "$ref": "#/components/schemas/Message",
            "description": "The prompt: a plain string, an array of content blocks, or a full Message object."
          },
          "rev": {
            "type": "string",
            "description": "Branch to run against (worktree is checked out at this rev)",
            "example": "main"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Existing session ID to continue a conversation. Omit to start a new session."
          }
        }
      },
      "ConnectToProject": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "id",
              "type"
            ],
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64"
              },
              "type": {
                "type": "string",
                "enum": [
                  "kb"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "id",
              "type"
            ],
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64"
              },
              "type": {
                "type": "string",
                "enum": [
                  "integration"
                ]
              }
            }
          }
        ]
      },
      "Content": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "text",
              "type"
            ],
            "properties": {
              "text": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "text"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "file",
              "type"
            ],
            "properties": {
              "file": {
                "$ref": "#/components/schemas/FileRef"
              },
              "type": {
                "type": "string",
                "enum": [
                  "file"
                ]
              }
            }
          }
        ]
      },
      "CreateDomainReqBody": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Custom domain name",
            "example": "custom.timbal.ai"
          }
        }
      },
      "CreateEnvReqBody": {
        "type": "object",
        "required": [
          "name",
          "color"
        ],
        "properties": {
          "color": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CreateK2Request": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name for the new knowledge base"
          }
        }
      },
      "CreateK2Response": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "name",
          "path"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          }
        }
      },
      "CreateK2VirtualDirectoryRequest": {
        "type": "object",
        "required": [
          "directory"
        ],
        "properties": {
          "directory": {
            "type": "string",
            "description": "Folder path, same format as the `directory` field on file upload (e.g. `docs/reports`)."
          }
        }
      },
      "CreateK2VirtualDirectoryResponse": {
        "type": "object",
        "required": [
          "directory",
          "placeholder_file_id",
          "created"
        ],
        "properties": {
          "created": {
            "type": "boolean",
            "description": "`true` if this call created the folder, `false` if it already existed."
          },
          "directory": {
            "type": "string"
          },
          "placeholder_file_id": {
            "type": "string",
            "description": "Listing id for this folder; remove it with `DELETE /orgs/{org_id}/k2/{kb_id}/files/{file_id}`."
          }
        }
      },
      "CreateProjectReqBody": {
        "type": "object",
        "required": [
          "origin"
        ],
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "origin": {
            "$ref": "#/components/schemas/ProjectOrigin"
          }
        }
      },
      "CreateProjectResBody": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
[...]
