{
  "openapi": "3.1.0",
  "info": {
    "title": "Timbal Platform API",
    "description": "Public API documentation for the Timbal platform",
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.timbal.ai",
      "description": "Production"
    },
    {
      "url": "https://api.dev.timbal.ai",
      "description": "Development"
    }
  ],
  "paths": {
    "/ace/{ace_uid}/jobs": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List jobs for an ACE, most recent first.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows to return (clamped to 200). Defaults to 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAceJobsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "Fetch a single job. Poll this until `status` reaches a terminal value (`succeeded`, `failed`, `cancelled`, `error`).",
        "operationId": "get_one",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceJobView"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job or ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}/cancel": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Cancel an active job. The job transitions to `status = 'cancelled'` once the cancellation takes effect. Returns `204` on accept; `409` if the job is not currently active.",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Cancel signal sent"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job not found"
          },
          "409": {
            "description": "Job is not currently queued/running"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}/retry": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Re-enqueue a failed/cancelled/errored job with the same kind and input, returning a new `job_uid`. Returns `409` if the source job is still active or already succeeded, or if another job is active on this ACE.",
        "operationId": "retry",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Retry enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnqueueJobResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job not found"
          },
          "409": {
            "description": "Source job not retriable, or ACE has a live job"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/policies": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List the policies declared on an ACE.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPoliciesResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/chat/completions": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "OpenAI-compatible **Chat Completions** endpoint scoped to an ACE. Accepts the native OpenAI `/v1/chat/completions` request body; set `stream: true` for an SSE response. The upstream provider is resolved from the `model` field: either explicit (`anthropic/claude-opus-4-7`, `google/gemini-2.5-pro`, …) or best-effort from the model name prefix (`gpt-*`, `claude-*`, `gemini-*`, `grok-*`); otherwise falls back to OpenAI. Supported providers: `openai`, `google`, `togetherai`, `xai`, `groq`, `fireworks`, `xiaomi`, `byteplus`. Request body remains OpenAI-shaped regardless of provider. Authenticate with a Timbal API key via `Authorization: Bearer \u003Ckey\u003E`. Usage is billed to the organization that owns the ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/messages": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Anthropic-compatible **Messages** endpoint scoped to an ACE. Accepts the native Anthropic `/v1/messages` request body; set `stream: true` for an SSE response. The `model` field accepts either a bare model name (`claude-opus-4-7`) or an explicit `anthropic/\u003Cmodel\u003E` prefix; any other provider prefix is rejected with `400`. Authenticate with a Timbal API key passed in the `x-api-key` header (same header the Anthropic SDK sends). Optional `anthropic-version` and `anthropic-beta` headers are forwarded upstream. Usage is billed to the organization that owns the ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/responses": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "OpenAI-compatible **Responses API** endpoint scoped to an ACE. Accepts the native OpenAI `/v1/responses` request body; streaming responses are delivered as SSE. The upstream provider is resolved from the `model` field: either explicit (`google/gemini-2.5-pro`, `xai/grok-3`, …) or best-effort from the model name prefix (`gpt-*`, `gemini-*`, `grok-*`); otherwise falls back to OpenAI. Supported providers: `openai`, `google`, `togetherai`, `xai`, `groq`, `fireworks`. Request body remains OpenAI-shaped regardless of provider. Authenticate with a Timbal API key via `Authorization: Bearer \u003Ckey\u003E`. Usage is billed to the organization that owns the ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/vars": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List the variables declared on an ACE.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVarsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/files": {
      "post": {
        "tags": [
          "files"
        ],
        "description": "Upload a short-lived file (auto-deleted ~24h after upload).",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 0
                    },
                    "description": "Binary contents of the file. Max 100 MB.",
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempFile"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds 100MB limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "429": {
            "description": "Per-user rate limit exceeded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds the client should wait before retrying."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me": {
      "patch": {
        "tags": [
          "users"
        ],
        "description": "Patch the authenticated user's profile. Omitted fields are left untouched; null clears nullable fields.",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMeReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or non-nullable field set to null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me/orgs": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List organizations the authenticated user belongs to",
        "operationId": "handler",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Optional search query to filter orgs by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgsResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me/tokens": {
      "get": {
        "tags": [
          "users"
        ],
        "description": "List the authenticated user's API credentials.",
        "operationId": "handler",
        "responses": {
          "200": {
            "description": "Credentials listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "users"
        ],
        "description": "Create an API credential for the authenticated user.",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Credential created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me/tokens/{token_id}": {
      "delete": {
        "tags": [
          "users"
        ],
        "description": "Revoke an API credential owned by the authenticated user.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get an organization by ID",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "orgs"
        ],
        "description": "Partially update an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOrgReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Organization updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/billing/budgets": {
      "get": {
        "tags": [
          "billing"
        ],
        "description": "Read credit budgets for the organization. Filter with `project_id` or `role_id` to fetch a single target without listing the full org config.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "When set, return at most the project budget for this project (0 or 1 rows).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "role_id",
            "in": "query",
            "description": "When set, return at most the role budget for this role (0 or 1 rows).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Budgets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetListBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Filtered project or role not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "billing"
        ],
        "description": "Replace the organization's full credit budget configuration. Omitted targets are removed.",
        "operationId": "put",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetListBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Budgets saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetListBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Project or role not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "billing"
        ],
        "description": "Merge credit budget changes. Each row upserts when `limit_credits` is set, or removes the budget when `limit_credits` is null. Other configured targets are left unchanged.",
        "operationId": "patch",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetPatchBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Budgets saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetListBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Project or role not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/billing/overage": {
      "post": {
        "tags": [
          "billing"
        ],
        "description": "Enable or disable usage-based overage billing and set an optional credit cap for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingOverageReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Overage settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "403": {
            "description": "Caller cannot manage billing for this organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Cannot apply overage (plan, payments, or subscription state)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/composer/{*path}": {
      "get": {
        "tags": [
          "composer"
        ],
        "description": "Proxy HTTP to the composer Python sidecar. Injects session platform_config on `/stream` and `/run`.",
        "operationId": "composer_proxy_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "Sidecar path (for example `stream` or `healthcheck`). Leave empty for the sidecar root.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the composer sidecar"
          },
          "503": {
            "description": "Composer sidecar unavailable"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "composer"
        ],
        "description": "Proxy HTTP to the composer Python sidecar. Injects session platform_config on `/stream` and `/run`.",
        "operationId": "composer_proxy_put",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "Sidecar path (for example `stream` or `healthcheck`). Leave empty for the sidecar root.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the composer sidecar"
          },
          "503": {
            "description": "Composer sidecar unavailable"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "composer"
        ],
        "description": "Proxy HTTP to the composer Python sidecar. Injects session platform_config on `/stream` and `/run`.",
        "operationId": "composer_proxy_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "Sidecar path (for example `stream` or `healthcheck`). Leave empty for the sidecar root.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the composer sidecar"
          },
          "503": {
            "description": "Composer sidecar unavailable"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "composer"
        ],
        "description": "Proxy HTTP to the composer Python sidecar. Injects session platform_config on `/stream` and `/run`.",
        "operationId": "composer_proxy_delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "Sidecar path (for example `stream` or `healthcheck`). Leave empty for the sidecar root.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the composer sidecar"
          },
          "503": {
            "description": "Composer sidecar unavailable"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "composer"
        ],
        "description": "Proxy HTTP to the composer Python sidecar. Injects session platform_config on `/stream` and `/run`.",
        "operationId": "composer_proxy_patch",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "Sidecar path (for example `stream` or `healthcheck`). Leave empty for the sidecar root.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the composer sidecar"
          },
          "503": {
            "description": "Composer sidecar unavailable"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/contacts": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Account-side contacts assigned to an organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgContactsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/credit-grants": {
      "get": {
        "tags": [
          "billing"
        ],
        "description": "Credit grants awarded to an organization, most recent first.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit grants for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCreditGrantsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/domains": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List connected domains for an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domains listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomainsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "orgs"
        ],
        "description": "Add a custom domain to an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Domain created successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/domains/{domain_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get a domain by ID. This endpoint triggers DNS validation and returns the live certificate status.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "orgs"
        ],
        "description": "Delete a domain",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/embedding-models": {
      "get": {
        "tags": [
          "embeddings"
        ],
        "description": "List all available embedding models for the organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of embedding models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEmbeddingModelsResBody"
                },
                "example": {
                  "embedding_models": [
                    "text-embedding-ada-002",
                    "text-embedding-3-small",
                    "text-embedding-3-large"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/actions": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "Catalog of every action this organization may grant on a role. Org-scoped so future plans / feature flags can enable subsets per-org; today every org sees the full catalog. Use to drive the custom-role builder UI: render a checkbox per action, and a resource picker keyed on `resource.kind` for typed actions. Cacheable per `(org_id, version)`.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action catalog visible to this org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListActionsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not a member of this org"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/check": {
      "post": {
        "tags": [
          "iam"
        ],
        "description": "Forward authorization simulator. Evaluates one or more `(action, resource?)` checks against a user's effective grants and returns a decision per check, including the matched allow/deny grants that explain it. Mirrors the live evaluator exactly — same scope intersection, expiry filtering, and deny-beats-allow precedence. \n\nDefaults `user_id` to the caller; passing another user requires `users.read`. Cap is 50 checks per request.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Per-check decisions + matched grants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (not a member, or asking about another user without `users.read`)"
          },
          "422": {
            "description": "Invalid request (empty/too many checks, unknown action key, malformed or wildcarded resource, target user is not a member)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/roles": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "List roles available to an organization. Returns built-in system roles + any custom roles defined by the org.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roles for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgRolesResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "iam"
        ],
        "description": "Create a custom role for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Role created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "A role with that name already exists in the organization"
          },
          "422": {
            "description": "Invalid request body (unknown action, bad resource shape, reserved name, duplicate grant), or plan does not allow custom roles (`code: PLAN_REQUIRED`)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/roles/{role_id}": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "Retrieve a role and the full set of grants it carries.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Role not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "iam"
        ],
        "description": "Delete a custom role. System roles cannot be deleted. Roles still attached to members return 409 with the assignee list — reassign first, then retry.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Role deleted"
          },
          "403": {
            "description": "Forbidden or system role (immutable)"
          },
          "404": {
            "description": "Role not found"
          },
          "409": {
            "description": "Role is still attached to one or more members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleInUseConflict"
                }
              }
            }
          },
          "422": {
            "description": "Deleting this role would lock the caller out of roles.manage, or plan does not allow custom roles (`code: PLAN_REQUIRED`)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "iam"
        ],
        "description": "Partially update a custom role. System roles are immutable.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRoleReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden or system role (immutable)"
          },
          "404": {
            "description": "Role not found"
          },
          "409": {
            "description": "A role with that name already exists"
          },
          "422": {
            "description": "Invalid body, would lock the caller out of roles.manage, or plan does not allow custom roles (`code: PLAN_REQUIRED`)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/users": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "List members of an organization. Requires `users.read`.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Optional case-insensitive substring filter on user name or email.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination. Pass back the `next_page_token` from the\nprevious response.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgUsersResBody"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "iam"
        ],
        "description": "Invite one or more users to an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteOrgUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "User invited successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "iam"
        ],
        "description": "Remove a user from an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveOrgUserReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "User removed successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/users/{user_id}/effective-grants": {
      "get": {
        "tags": [
          "iam"
        ],
        "description": "Dump the grants a user actually carries in this org, post-scope-intersection and expiry-filtered, with role attribution. Asking about yourself only requires membership; asking about another user requires `users.read`. Same effective grant contributed by N roles produces N rows.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Effective grants for the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveGrantsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (not a member, or asking about another user without `users.read`)"
          },
          "422": {
            "description": "Target user is not a member of this organization"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/iam/users/{user_id}/roles": {
      "put": {
        "tags": [
          "iam"
        ],
        "description": "Replace a member's role attachments with the provided set. Each attachment is a `(role_id, scope?)` pair — the same role may appear multiple times scoped to different resources. Requires `users.edit`.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRolesReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Attachments updated"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "422": {
            "description": "Invalid attachment"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List knowledge bases in an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge bases listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create a new knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Knowledge base created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get knowledge base details",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Detail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Knowledge base deleted"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "k2"
        ],
        "description": "Update a knowledge base.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated knowledge base",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Detail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/backups": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List backups for a knowledge base.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBackupsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create an on-demand backup of a knowledge base. While running, all read/write traffic on the KB returns 503 (Maintenance). A mutually-exclusive lock prevents concurrent backup/restore on the same KB (409 Conflict). `dry_run = true` skips the lock and the upload.",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBackupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Backup accepted; KB is already paused for maintenance (non-dry-run). Poll via GET /backups/{id}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbBackupResponse"
                }
              }
            }
          },
          "409": {
            "description": "KB is already under maintenance (no backup row created)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/backups/{backup_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a single backup.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbBackupResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/directories": {
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create a virtual directory in the knowledge base",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateK2VirtualDirectoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Folder already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2VirtualDirectoryResponse"
                }
              }
            }
          },
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2VirtualDirectoryResponse"
                }
              }
            }
          },
          "409": {
            "description": "A file with the same name already exists at this path",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List files and folders in a knowledge base (use directory=/ for root)",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "directory",
            "in": "query",
            "description": "Scope listing to one folder. Use `\"/\"` for KB root (entries with no parent path).\nOmit to list every file in the knowledge base. Otherwise a normalized path such as `docs/reports`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2FilesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Add a file to a knowledge base via direct upload or remote URL fetch. Provide exactly one of `file` (raw bytes) or `url` (http/https; the server fetches it with an SSRF-hardened client).",
        "operationId": "add",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "Request body for adding a file to a knowledge base.\n\nProvide **either** `file` (raw bytes via multipart) **or** `url` (http/https URL\nthe server fetches directly). Exactly one is required.",
                "required": [
                  "metadata"
                ],
                "properties": {
                  "directory": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional subdirectory path to organize the file within the knowledge base."
                  },
                  "file": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 0
                    },
                    "description": "File bytes (multipart `file` field). Mutually exclusive with `url`.",
                    "contentMediaType": "application/octet-stream"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional JSON metadata to attach to the file."
                  },
                  "parse": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "description": "Per-upload override for the parse/chunk/embed pipeline. Accepts\n`\"true\"`/`\"false\"` (or `\"1\"`/`\"0\"`). When omitted, the knowledge base's\nauto-processing setting and the file extension decide. `true` forces\nparsing even when the KB has auto-processing off (still credit-gated;\nunsupported extensions silently fall back to stored-as-is). `false`\nstores the file as-is and never runs the pipeline."
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Public http/https URL the server fetches and ingests directly.\nSSRF-hardened (internal hosts blocked). Mutually exclusive with `file`."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "File uploaded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2File"
                }
              }
            }
          },
          "409": {
            "description": "A file with the same name already exists in this directory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds the client should wait before retrying."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files/{file_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a file with its parsings and embeddings metadata",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File details with parsings and embeddings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetK2FileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a file from a knowledge base",
        "operationId": "delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files/{file_id}/chunks": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List chunks for a knowledge base file, in document order. Layout metadata (`blocks`) is omitted from each item to keep responses small; fetch a single chunk by `uid` to retrieve it.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Cursor: pass `next_page_token` from the previous response to fetch\nthe next page. Treat the value as opaque.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size. Defaults to 100; max 500.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chunks listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2ChunksResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Insert a new chunk. Place via `after_uid` / `before_uid` (mutually exclusive) or omit both to append.",
        "operationId": "insert",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertK2ChunkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Chunk inserted. Search results reflect the change after re-indexing completes (`index_status` field).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Chunk"
                }
              }
            }
          },
          "400": {
            "description": "Invalid placement or payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "No insertion slot available between the specified neighbors. Retry with a different placement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files/{file_id}/chunks/{chunk_uid}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a single chunk by uid.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunk_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Chunk"
                }
              }
            }
          },
          "404": {
            "description": "Chunk not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a chunk. Requires `If-Match: \u003Crevision\u003E` from the prior GET. The chunk disappears from listings immediately and stops affecting search after the next re-index pass.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunk_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Chunk deleted"
          },
          "404": {
            "description": "Chunk not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match` revision does not match the current chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "k2"
        ],
        "description": "Edit a chunk's content / embed / page range. Requires `If-Match: \u003Crevision\u003E` from the prior GET.",
        "operationId": "patch",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunk_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchK2ChunkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chunk updated. Search results reflect the change after re-indexing completes (`index_status` field).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Chunk"
                }
              }
            }
          },
          "400": {
            "description": "Empty patch or empty content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Chunk not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match` revision does not match the current chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/policies": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List access-shaping rules authored on a knowledge base.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "table_name",
            "in": "query",
            "description": "Restrict to policies that target this exact table.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "Restrict to enabled or disabled rules. Omit for both.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "When true, also return soft-deleted rules. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Pagination cursor. Pass the previous response's `next_page_token`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policies listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2PoliciesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Author a new access-shaping rule on a knowledge base.",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateK2PolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Policy created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Policy"
                }
              }
            }
          },
          "400": {
            "description": "Invalid policy body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/policies/enforcement": {
      "put": {
        "tags": [
          "k2"
        ],
        "description": "Enable or disable enforcement of data-governance policies on K2 queries. Requires `k2.policies.manage`. When enabled, queries are rewritten to satisfy active policies or rejected if they cannot be safely constrained. Read the current value from `GET /orgs/{org_id}/k2/{kb_id}` (`governance_enforced` on the KB detail).",
        "operationId": "put",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetK2GovernanceEnforcementRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated enforcement status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2GovernanceEnforcementResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/policies/{policy_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Fetch a single access-shaping rule by id.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Policy"
                }
              }
            }
          },
          "404": {
            "description": "Policy not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Soft-delete an access-shaping rule. Requires `If-Match: \u003Crevision\u003E` from the prior GET. Assignments remain for audit; the rule no longer applies.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
[...]
