{
  "openapi": "3.1.0",
  "info": {
    "title": "Timbal Platform API",
    "description": "Public API documentation for the Timbal platform",
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.timbal.ai",
      "description": "Production"
    },
    {
      "url": "https://api.dev.timbal.ai",
      "description": "Development"
    }
  ],
  "paths": {
    "/ace/{ace_uid}/jobs": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List jobs for an ACE, most recent first.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows to return (clamped to 200). Defaults to 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAceJobsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "Fetch a single job. Poll this until `status` reaches a terminal value (`succeeded`, `failed`, `cancelled`, `error`).",
        "operationId": "get_one",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceJobView"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job or ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}/cancel": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Cancel an active job. The job transitions to `status = 'cancelled'` once the cancellation takes effect. Returns `204` on accept; `409` if the job is not currently active.",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Cancel signal sent"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job not found"
          },
          "409": {
            "description": "Job is not currently queued/running"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/jobs/{job_uid}/retry": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Re-enqueue a failed/cancelled/errored job with the same kind and input, returning a new `job_uid`. Returns `409` if the source job is still active or already succeeded, or if another job is active on this ACE.",
        "operationId": "retry",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Retry enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnqueueJobResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Job not found"
          },
          "409": {
            "description": "Source job not retriable, or ACE has a live job"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/policies": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List the policies declared on an ACE.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPoliciesResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/chat/completions": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "OpenAI-compatible **Chat Completions** endpoint scoped to an ACE. Accepts the native OpenAI `/v1/chat/completions` request body; set `stream: true` for an SSE response. The upstream provider is resolved from the `model` field: either explicit (`anthropic/claude-opus-4-7`, `google/gemini-2.5-pro`, …) or best-effort from the model name prefix (`gpt-*`, `claude-*`, `gemini-*`, `grok-*`); otherwise falls back to OpenAI. Supported providers: `openai`, `google`, `togetherai`, `xai`, `groq`, `fireworks`, `xiaomi`, `byteplus`. Request body remains OpenAI-shaped regardless of provider. Authenticate with a Timbal API key via `Authorization: Bearer \u003Ckey\u003E`. Usage is billed to the organization that owns the ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/messages": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "Anthropic-compatible **Messages** endpoint scoped to an ACE. Accepts the native Anthropic `/v1/messages` request body; set `stream: true` for an SSE response. The `model` field accepts either a bare model name (`claude-opus-4-7`) or an explicit `anthropic/\u003Cmodel\u003E` prefix; any other provider prefix is rejected with `400`. Authenticate with a Timbal API key passed in the `x-api-key` header (same header the Anthropic SDK sends). Optional `anthropic-version` and `anthropic-beta` headers are forwarded upstream. Usage is billed to the organization that owns the ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/v1/responses": {
      "post": {
        "tags": [
          "ace"
        ],
        "description": "OpenAI-compatible **Responses API** endpoint scoped to an ACE. Accepts the native OpenAI `/v1/responses` request body; streaming responses are delivered as SSE. The upstream provider is resolved from the `model` field: either explicit (`google/gemini-2.5-pro`, `xai/grok-3`, …) or best-effort from the model name prefix (`gpt-*`, `gemini-*`, `grok-*`); otherwise falls back to OpenAI. Supported providers: `openai`, `google`, `togetherai`, `xai`, `groq`, `fireworks`. Request body remains OpenAI-shaped regardless of provider. Authenticate with a Timbal API key via `Authorization: Bearer \u003Ckey\u003E`. Usage is billed to the organization that owns the ACE.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upstream response (JSON or SSE depending on `stream`)"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "402": {
            "description": "Credits limit exceeded"
          },
          "404": {
            "description": "ACE not found"
          },
          "500": {
            "description": "Upstream provider error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/ace/{ace_uid}/vars": {
      "get": {
        "tags": [
          "ace"
        ],
        "description": "List the variables declared on an ACE.",
        "operationId": "list",
        "parameters": [
          {
            "name": "ace_uid",
            "in": "path",
            "description": "ACE uid (UUID).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVarsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "ACE not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/files": {
      "post": {
        "tags": [
          "files"
        ],
        "description": "Upload a short-lived file (auto-deleted ~24h after upload).",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 0
                    },
                    "description": "Binary contents of the file. Max 100 MB.",
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempFile"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds 100MB limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "429": {
            "description": "Per-user rate limit exceeded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds the client should wait before retrying."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me": {
      "patch": {
        "tags": [
          "users"
        ],
        "description": "Patch the authenticated user's profile. Omitted fields are left untouched; null clears nullable fields.",
        "operationId": "handler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or non-nullable field set to null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/me/orgs": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List organizations the authenticated user belongs to",
        "operationId": "handler",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Optional search query to filter orgs by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgsResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get an organization by ID",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "orgs"
        ],
        "description": "Partially update an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOrgReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Organization updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/billing/overage": {
      "post": {
        "tags": [
          "billing"
        ],
        "description": "Enable or disable usage-based overage billing and set an optional credit cap for the organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingOverageReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Overage settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "403": {
            "description": "Caller cannot manage billing for this organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Cannot apply overage (plan, payments, or subscription state)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/contacts": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Account-side contacts assigned to an organization.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgContactsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/credit-grants": {
      "get": {
        "tags": [
          "billing"
        ],
        "description": "Credit grants awarded to an organization, most recent first.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit grants for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCreditGrantsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/domains": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "List connected domains for an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domains listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomainsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "orgs"
        ],
        "description": "Add a custom domain to an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Domain created successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/domains/{domain_id}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "description": "Get a domain by ID. This endpoint triggers DNS validation and returns the live certificate status.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "orgs"
        ],
        "description": "Delete a domain",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/embedding-models": {
      "get": {
        "tags": [
          "embeddings"
        ],
        "description": "List all available embedding models for the organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of embedding models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEmbeddingModelsResBody"
                },
                "example": {
                  "embedding_models": [
                    "text-embedding-ada-002",
                    "text-embedding-3-small",
                    "text-embedding-3-large"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List knowledge bases in an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge bases listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create a new knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Knowledge base created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get knowledge base details",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Detail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Knowledge base deleted"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "k2"
        ],
        "description": "Update a knowledge base.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated knowledge base",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Detail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/backups": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List backups for a knowledge base.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBackupsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create an on-demand backup of a knowledge base. While running, all read/write traffic on the KB returns 503 (Maintenance). A mutually-exclusive lock prevents concurrent backup/restore on the same KB (409 Conflict). `dry_run = true` skips the lock and the upload.",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBackupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Backup accepted; KB is already paused for maintenance (non-dry-run). Poll via GET /backups/{id}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbBackupResponse"
                }
              }
            }
          },
          "409": {
            "description": "KB is already under maintenance (no backup row created)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/backups/{backup_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a single backup.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbBackupResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/directories": {
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Create a virtual directory in the knowledge base",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateK2VirtualDirectoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Folder already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2VirtualDirectoryResponse"
                }
              }
            }
          },
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateK2VirtualDirectoryResponse"
                }
              }
            }
          },
          "409": {
            "description": "A file with the same name already exists at this path",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List files and directories in a knowledge base",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token for pagination",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "directory",
            "in": "query",
            "description": "Filter files by directory path (e.g. \"docs/reports\")",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2FilesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Add a file to a knowledge base via direct upload or remote URL fetch. Provide exactly one of `file` (raw bytes) or `url` (http/https; the server fetches it with an SSRF-hardened client).",
        "operationId": "add",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "Request body for adding a file to a knowledge base.\n\nProvide **either** `file` (raw bytes via multipart) **or** `url` (http/https URL\nthe server fetches directly). Exactly one is required.",
                "required": [
                  "metadata"
                ],
                "properties": {
                  "directory": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional subdirectory path to organize the file within the knowledge base."
                  },
                  "file": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 0
                    },
                    "description": "File bytes (multipart `file` field). Mutually exclusive with `url`.",
                    "contentMediaType": "application/octet-stream"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional JSON metadata to attach to the file."
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Public http/https URL the server fetches and ingests directly.\nSSRF-hardened (internal hosts blocked). Mutually exclusive with `file`."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "File uploaded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2File"
                }
              }
            }
          },
          "409": {
            "description": "A file with the same name already exists in this directory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds the client should wait before retrying."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files/{file_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a file with its parsings and embeddings metadata",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File details with parsings and embeddings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetK2FileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a file from a knowledge base",
        "operationId": "delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files/{file_id}/chunks": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List chunks for a knowledge base file, in document order. Layout metadata (`blocks`) is omitted from each item to keep responses small; fetch a single chunk by `uid` to retrieve it.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Cursor: pass `next_page_token` from the previous response to fetch\nthe next page. Treat the value as opaque.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size. Defaults to 100; max 500.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chunks listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListK2ChunksResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Insert a new chunk. Place via `after_uid` / `before_uid` (mutually exclusive) or omit both to append.",
        "operationId": "insert",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertK2ChunkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Chunk inserted. Search results reflect the change after re-indexing completes (`index_status` field).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Chunk"
                }
              }
            }
          },
          "400": {
            "description": "Invalid placement or payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "No insertion slot available between the specified neighbors. Retry with a different placement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/files/{file_id}/chunks/{chunk_uid}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a single chunk by uid.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunk_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Chunk"
                }
              }
            }
          },
          "404": {
            "description": "Chunk not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "k2"
        ],
        "description": "Delete a chunk. Requires `If-Match: \u003Crevision\u003E` from the prior GET. The chunk disappears from listings immediately and stops affecting search after the next re-index pass.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunk_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Chunk deleted"
          },
          "404": {
            "description": "Chunk not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match` revision does not match the current chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "k2"
        ],
        "description": "Edit a chunk's content / embed / page range. Requires `If-Match: \u003Crevision\u003E` from the prior GET.",
        "operationId": "patch",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunk_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchK2ChunkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chunk updated. Search results reflect the change after re-indexing completes (`index_status` field).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/K2Chunk"
                }
              }
            }
          },
          "400": {
            "description": "Empty patch or empty content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Chunk not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match` revision does not match the current chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/query": {
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Execute a SQL query against the knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryK2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query results as JSON",
            "content": {
              "application/json": {

              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/restart": {
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Drop the knowledge base's in-memory connections so the next request opens a fresh database handle. Caller must be an org admin.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Connections dropped",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null",
                  "description": "Successful responses use HTTP 204 and do not include a body."
                }
              }
            }
          },
          "403": {
            "description": "Caller is not an admin of this knowledge base",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/restores": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "List restore attempts for a knowledge base.",
        "operationId": "list",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Restore list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRestoresResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Restore a knowledge base from a previously completed backup. While running, all read/write traffic on the KB returns 503 (Maintenance). A mutually-exclusive lock prevents concurrent backup/restore on the same KB (409 Conflict).",
        "operationId": "create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRestoreRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Restore accepted; KB is already paused for maintenance. Poll via GET /restores/{id}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbRestoreResponse"
                }
              }
            }
          },
          "409": {
            "description": "KB is already under maintenance (no restore row created)"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/restores/{restore_id}": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get a single restore.",
        "operationId": "get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "restore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Restore details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KbRestoreResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/schema": {
      "get": {
        "tags": [
          "k2"
        ],
        "description": "Get the schema for a knowledge base",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: \"structured\" (default) or \"sql\"",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "structured",
                "sql"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schema (structured by default, or SQL DDL statements when ?format=sql)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/K2Schema",
                      "description": "Structured schema with tables, columns, indexes, and constraints (default)"
                    },
                    {
                      "$ref": "#/components/schemas/K2SchemaSql",
                      "description": "SQL DDL statements (CREATE TABLE, CREATE INDEX, etc.)"
                    }
                  ],
                  "description": "Response for the schema endpoint — structured (default) or SQL DDL."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/k2/{kb_id}/upload": {
      "post": {
        "tags": [
          "k2"
        ],
        "description": "Upload a data file into the knowledge base via direct upload or remote URL fetch",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Multipart form with either a `file` field (raw bytes) OR a `url` field (http/https; the server fetches it). Optional `table_name` overrides the auto-derived table name; optional `mode` is `create` (default), `replace`, or `append`.",
          "content": {
            "multipart/form-data": {

            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {

              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Max requests per window for this user."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the current window resets."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds the client should wait before retrying."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Limit`."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Remaining`."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Legacy alias of `RateLimit-Reset`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/notifications/channels": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "List notification channels for the org",
        "description": "Returns all `NotificationChannels` rows for this organization (email and future types). Any org member may call.",
        "operationId": "list_org_notification_channels",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channels for the org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgNotificationChannelsResBody"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not a member of this organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Create a notification channel",
        "description": "Create or reuse a notification channel for this org.",
        "operationId": "create_org_notification_channel",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNotificationChannelReq"
              },
              "examples": {
                "Email": {
                  "value": {
                    "type": "email",
                    "name": "Finance inbox",
                    "config": {
                      "to": "finance@example.com"
                    }
                  }
                },
                "Slack": {
                  "value": {
                    "type": "slack",
                    "name": "Deploy alerts",
                    "config": {
                      "token": "xoxb-1234567890123-1234567890123",
                      "channel": "C0123456789"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Channel id and whether it was created or reused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNotificationChannelOut"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not an org admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/notifications/channels/{channel_id}": {
      "delete": {
        "tags": [
          "notifications"
        ],
        "summary": "Delete a notification channel.",
        "description": "Removes the channel for this org. Fails with 409 if rules reference it unless `force: true`.",
        "operationId": "delete_org_notification_channel",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional — omit entirely or send `{}` for default (non-force) behavior.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteChannelBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Channel deleted"
          },
          "403": {
            "description": "Caller is not an org admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Channel not found for this org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Channel is referenced by rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/notifications/rules": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "List org-wide notification rules",
        "description": "List org-wide notification rules with their linked channels.",
        "operationId": "list_org_notification_rules",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rules with channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgNotificationRulesResBody"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not a member of this organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Create an org-wide notification rule",
        "description": "Create an org-wide notification rule.",
        "operationId": "create_org_notification_rule",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNotificationRuleReq"
              },
              "examples": {
                "Email channel": {
                  "value": {
                    "name": "Credits usage alert",
                    "event_type": "org.credits.usage",
                    "cooldown_seconds": 3600,
                    "condition": {
                      "threshold_pct": 80
                    },
                    "channel": {
                      "type": "email",
                      "config": {
                        "to": "finance@example.com"
                      }
                    }
                  }
                },
                "Slack channel": {
                  "value": {
                    "name": "Credits usage to Slack",
                    "event_type": "org.credits.usage",
                    "channel": {
                      "type": "slack",
                      "config": {
                        "token": "xoxb-1234567890123-1234567890123",
                        "channel": "C0123456789"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Rule and channel link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNotificationRuleOut"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (event type, channel config, empty name, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not an org admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/notifications/rules/{rule_id}": {
      "delete": {
        "tags": [
          "notifications"
        ],
        "summary": "Delete an org-wide notification rule",
        "description": "Deletes a rule with `project_id` unset only. **Org admin** only.",
        "operationId": "delete_org_notification_rule",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Rule deleted"
          },
          "403": {
            "description": "Caller is not an org admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Rule not found or not org-scoped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/previews": {
      "get": {
        "tags": [
          "preview"
        ],
        "description": "List project previews for the organization",
        "operationId": "list_previews",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preview_status",
            "in": "query",
            "description": "Return only previews in this lifecycle state. Omit to include every active preview (`starting` or `running`).",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/PreviewStatus"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Previews listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPreviewsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not a member of the org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "List projects for an organization",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "description": "Response detail level: \"list\" (default) returns a lightweight preview, \"full\" returns all project details",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "list",
                "full"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projects listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectsResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "projects"
        ],
        "description": "Create a new project.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProjectResBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "description": "Get a project by ID",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "description": "Delete a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "projects"
        ],
        "description": "Update a project",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProjectReqBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Project updated successfully"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/analytics/credits": {
      "get": {
        "tags": [
          "analytics"
        ],
        "description": "Time-binned credits and USD cost breakdown for a project.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Bucket size for aggregation (`minute`, `hour`, or `day`).",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/BinSize"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Inclusive range start (epoch milliseconds). Defaults: 1h / 1d / 30d before `to` by `group_by`.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Exclusive range end (epoch milliseconds). Defaults to now.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Restrict to a specific user’s runs.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credits analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectAnalyticsCreditsBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/analytics/usage": {
      "get": {
        "tags": [
          "analytics"
        ],
        "description": "Time-binned run counts, user counts, and duration percentiles for a project.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Bucket size for aggregation (`minute`, `hour`, or `day`).",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/BinSize"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectAnalyticsUsageBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/orgs/{org_id}/projects/{project_id}/analytics/users": {
      "get": {
        "tags": [
          "analytics"
        ],
        "description": "Per-user run and spend aggregates for a project.",
        "operationId": "handler",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Inclusive range start (epoch milliseconds).",
            "required": true,
            "schema": {
              "type": "integer",
[...]
